* {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

html {
  font-size: 62.5%;
}

.main-title , h1{
  font-family: 'Noto Serif';
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 39.6px;
}

.main-subtitle , h2{
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 26.4px;

}

form{
  font-size: 1.7rem;
}

p {
  font-size: 1.6rem;
  line-height: 110%;
}

input {
  accent-color: black;
}

a {
  color: black;
  font-size: 1.6rem;
  line-height: 1.76rem;

  margin-top: 3rem;
  margin-right: 3rem;
  color: black;
}
