
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Nunito', sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }


@media (min-width:480px){
    
}

@media (min-width:768px){
    
}
@media (min-width:1024px){
    
}