:root {
  --font-size-parragraph: 1.6rem;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  
}

.main-title , h1{
  font-family: 'Noto Serif';
  font-size: 3.7rem;
}

.main-subtitle , h2{
  font-size: 2.5rem;
  font-weight: 300;

}

form{
  font-size: var(--font-size-parragraph);
}

p {
  font-size: var(--font-size-parragraph);
  font-weight: 300;
}

input {
  accent-color: black;
}

a {
  font-size: var(--font-size-parragraph);
  color: black;
}
