/* 
order properties >
    box model properties
    positioning 
    typography
    decor 
    variables
    mixins
*/

.main {
    height: 60vh;
    padding: 10px;
    margin-left: 3em;  
    margin-right: 3em;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.main-subtitle {
    margin-top: 1em;
    margin-bottom: 3rem;

}
.main-content {
    width: 80vw;
    height: 50vh;
}

.footer {  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.footer-anchor {
    margin-right: 3rem;
    color: black;
}

.content-list {    
    disp
}
