/* 
orden propiedades
    propiedades del modelo de caja display margin heigt
    posicionakiento top left right
    tipografia 
    decoracion 
    variables
    mixins
    */

.main {
    padding: 10px;
    height: 80vh;
    width: 100vw;
    
}
.main-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
 
    top: 8rem;

    font-family: 'Noto Serif';
    font-size: 36px;
}

.main-subtitle {
    position: relative;
    top: 12rem;
    left: 3rem;
    font-size: 24px;
    
}
.main-content {
    width: 80vw;
    height: 60vh;
    
    display: flex;
    position: relative;
    top: 14rem;
    left: 3rem;

    font-family: 'Nunito';
    font-size: 16px;
    line-height: 110%;
}

.footer {  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  
}
.footer a {
    color: black;

}
.footer-anchor {
    margin-left: 3rem;
    margin-right: 3rem;
    color: black;
}


.content-list {
    
    position: relative;
    left: 4rem;
    bottom: 27rem;
    list-style: none;

    font-family: 'Nunito';
    font-size: 16px;
}

.content-list__item{
}