/* 
order properties >
    box model properties
    positioning 
    typography
    decor 
    variables
    mixins
*/

.main {
    height: 80vh;
    padding: 10px;
    width: 100vw;   
}

.main-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
 
    top: 8rem;

    font-family: 'Noto Serif';
    font-size: 36px;
    font-weight: 700;
    line-height: 39.6px;
}

.main-subtitle {
    position: relative;
    top: 12rem;
    left: 3rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    
    
}
.main-content {
    width: 80vw;
    height: 60vh;
    
    display: flex;
    position: relative;
    top: 14rem;
    left: 2em;

}

.footer {  
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  
}
.footer a {
    color: black;
    font-size: 16px;
    line-height: 17.6px;

}

.footer-anchor {
    margin-left: 3rem;
    margin-right: 3rem;
    color: black;
}

.content-list {    
    position: relative;
    left: 4rem;
    bottom: 27rem;
    list-style: none;

    font-size: 16px;
}
